body {
    font: arial
}

.centered {
    text-align: center;
}

.row {
    display: flex;
}

.left {
    flex: 40%;
}

.right {
    flex: 75%;

}

.frame {
    background: rgb(244, 244, 244);
}


.point {
    fill: rgb(255, 150, 230);
}

.point:hover {
    fill: rgb(98, 147, 240);
}

.border {
    stroke: green;
    stroke-width: 10px;
}

.coordinate-display {
    border: black 2px solid;
    padding: 12px;
    margin-bottom: 2rem;
}

.coordinate-selector {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.bar {
    fill: rgb(112, 166, 117);
}

.bar:hover {
    fill: rgb(11, 166, 255);
}

.tooltip {
    padding: 2rem;
    border: 1px solid;
}