body {
    font: arial
}

.centered {
    text-align: center;
}

.row {
    display: flex;
}

.left {
    flex: 40%;
}

.right {
    flex: 75%;

}

.frame {
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}


.point {
    fill: rgb(255, 11, 198);
}

.point:hover {
    fill: rgb(98, 147, 240);
}

.border {
    stroke: green;
    stroke-width: 10px;
}

.coordinate-display {
    border: black 2px solid;
    padding: 12px;
    margin-bottom: 2rem;
}

.coordinate-selector {
    padding-top: 1rem;
    padding-bottom: 2rem;
}